.app-header {
  background: #69f0ae;

  &__wrapper {
    background: #69f0ae;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: end;

    button {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: 5%;

      mat-icon {
        font-size: 40px;
      }
    }
  }
}
