<button *ngIf="!userData?.profileCreated"
        mat-raised-button
        color="accent"
        type="submit"
        routerLink="/profile/choose"
>
  Choose role
</button>
<form
  class="form-container"
  *ngIf="userData?.profileCreated && editForm"
  [formGroup]="editForm"
  (submit)="onSubmit()">
  <div *ngFor="let field of fields">
    <app-base-form [field]="field" [form]="editForm"></app-base-form>
  </div>
  <button type="submit"
          [disabled]="!editForm.valid"
          mat-raised-button
          color="accent"
  >
    Save
  </button>
</form>

