<div class="card-menu">
  <div class="choose-profile-role-container">
    <h1>Select role</h1>
    <h2>
      Follow your favorite musicians and producers for first-hand updates. Select a fan.
    </h2>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      routerLink="/profile/fan"
    >Fan</button>
    <h2>
      Keep track of your popularity and look for commercial opportunities. Select a musician.
    </h2>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      routerLink="/profile/musician"
    >Musician</button>
    <h2>
      Look for new talent and keep an eye on the industry. Select a producer.
    </h2>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      routerLink="/profile/producer"
    >Producer</button>
  </div>
</div>
