.publications-page-container {
  display: flex;
  flex-basis: 100%;
  min-width: 100%;
  .publications-list {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    .publication-item {
      margin-bottom: 10px;

      mat-card-actions {
        display: flex;
        justify-content: space-between;

        .item-action {
          display: flex;
          align-items: center;
        }
      }

      button {
        margin-right: 5%;
      }
    }
  }

  .info {
    flex-basis: 30%;
    padding-left: 2%;
  }
}

.publications-page-container > * {
  width: 100%;
  text-align: center;
}
