<div class="prologue-page">
  <div class="prologue-container">
    <h2>
      Prologue
    </h2>
    <p>Well, we all know that humans and vampires have always lived next door to each other.</p>
    <p>It seemed that a peaceful life was the lot of sunny days. Because at night, it was better for humans not to leave their rooms.</p>
    <p>Vampires reeked of fear at the thought of them.
    <p>But times have changed...</p>
    <p>
      People continued to industrialize. They built up every scrap of land. They poured new antibiotics into animals and food. They didn't notice how the world was changing around them...
      Until, one such experiment nearly destroyed the human race.
    </p>
    <p>People began to get terribly sick. Their bodies were covered with sores and their blood looked like thick tar.</p>
    <p>After destroying everything around them, they didn't notice how they began to kill themselves.</p>
    <p>What did vampires have to do with it?</p>
    <p>It's not that simple. Vampires need blood... a lot of blood. And vampires like quality, fresh blood.</p>
    <p>And there's less and less of it...</p>

    <button
      mat-raised-button
      color="accent"
      routerLink="../start-game"
    >Start
    </button>
  </div>
</div>
