.page {
  display: flex;
  justify-content: space-between;

  .page-side-menu {
    display: flex;
    justify-content: center;
  }

  .page-middle {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .page-header {

    }

    .page-content {
      max-width: 1024px;
      padding: 32px 0;
    }
  }
}
