.app-footer {
  background: #909090;
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
