<form class="form-container" [formGroup]="createdForm" (submit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="FirstName"
      formControlName="firstName"
    >
    <mat-error
      *ngIf="firstNameControl().hasError('required')"
    >
      Please enter a valid first name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="LastName"
      formControlName="lastName"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="FatherName"
      formControlName="fatherName"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Birthday"
      formControlName="birthday"
      type="date"
    >
    <mat-error
      *ngIf="firstNameControl().hasError('required')"
    >
      Please enter a valid birthday
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Phone"
      formControlName="phone"
      type="tel"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Address"
      formControlName="address"
    >
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!this.createdForm.valid"
    type="submit"
  >Sign up</button>
</form>
